{% extends "base.html" %} 

{% block page_name %} Home {% endblock page_name %}

{%block content %}

    <div class="container mx-auto pb-10">
        <div style="background-image: url(https://images.unsplash.com/photo-1546874177-9e664107314e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80);" class="container rounded-2xl bg-gray-800 h-50vh mx-auto mt-32 mb-24 bg-cover bg-center"></div>
        <!-- {{now}} -->
        <div class="flex flex-wrap mb-10">
            {% for room in rooms %}
                {% include "mixins/room_card.html" with room=room %}
            {% endfor %}
        </div>

        <div class="flex items-center justify-center mx-auto">
            {% if page_obj.has_previous %}
                <a href ="?page={{page_obj.previous_page_number}}" class="text-blue-400">
                    <i class="fas fa-arrow-circle-left fa-lg"></i>
                </a>
            {% endif %}
    
            <span class="mx-3 font-medium text-lg">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
    
            {% if page_obj.has_next %}
                <a href ="?page={{page_obj.next_page_number}}" class="text-blue-400">
                    <i class="fas fa-arrow-circle-right fa-lg"></i>
                </a>
            {% endif %}
        </div>
    </div>

{% endblock content %}
